<div class="product-detail py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="img">
          <img
            class="w-100"
            src="https://api.lavitasrl.it/storage/{{ productDetail?.image }}"
            alt="{{ productDetail?.title }}"
          />
        </div>
      </div>
      <div class="col-md-6 px-5 d-flex align-items-center">
        <div class="detail">
          <h1>{{ productDetail?.title }}</h1>
          <h2 class="price">$ {{ productDetail?.price }}</h2>

          <p>{{ productDetail?.description }}</p>

          <button class="btn my-4" (click)="addToCard($event, productDetail)">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
