<div class="upper-bar p-0 p-lg-2 bg-white">
  <div class="container p-0 px-lg-3">
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <h5 class="mb-0">
          <a class="navbar-brand d-flex" routerLink="/">
            <img
              src="../../../assets/img/logo.png"
              class="mobile-header-logo w-100"
              alt=""
            />
          </a>
        </h5>
      </div>
      <div class="col-lg-4">
        <form class="upper-search w-100">
          <input type="text" class="w-100" placeholder="Search ..." />
          <button type="submit" class="input-img">
            <img
              src="../../../assets/img/search.svg"
              class="upper-bar-Search-img"
              alt=""
            />
          </button>
        </form>
      </div>
      <div class="col-lg-4 d-none d-lg-flex justify-content-end">
        <button
          class="border-0 bg-transparent position-relative"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
        >
          <img
            src="../../../assets/img/cart.svg"
            class="upper-bar-img"
            alt=""
          />
          <span class="counter position-absolute" *ngIf="counter">
            {{ counter }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header d-flex justify-content-end">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body p-0">
    <h2 *ngIf="counter == 0">No Result</h2>
    <div class="d-flex flex-column justify-content-between h-100">
      <app-cart *ngIf="counter > 0" (total)="getTotal($event)"></app-cart>
      <div class="d-flex flex-column p-3">
        <h3
          class="d-flex py-3 border-bottom border-top my-3 justify-content-between"
          *ngIf="total"
        >
          <span>Total:</span>
          <span>$ {{ total }}</span>
        </h3>
        <button class="w-100 btn" *ngIf="counter > 0" routerLink="/checkout">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
