<div class="who-are-we" id="who-are-we">
  <div class="start-img">
    <img src="{{ StartImg }}" alt="StartImg" class="w-100" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 d-flex align-items-center">
        <div class="who-are-we-info mb-5">
          <h2>CHI SIAMO</h2>
          <p>
            Dalla nostra passione per fornire prodotti alimentari di alta
            qualità, nasce LA VITA immersa nella campagna romana, a circa 14 km
            dalla ridente cittadina Tivoli, felicemente posizionata nel cuore
            della penisola italiana, è infatti molto vicina a Roma “culla della
            civiltà”.
          </p>
          <p>
            Forniamo un prodotto per i consumatori più esigenti, che cercano un
            prodotto autentico e certificato, senza compromessi.
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="who-are-we-points d-flex align-items-start">
                <img
                  src="{{ Done }}"
                  alt="Done"
                  class="who-are-we-points-img"
                />

                <p>I migliori prodotti di alta qualità</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="who-are-we-points d-flex align-items-start">
                <img
                  src="{{ Done }}"
                  alt="Done"
                  class="who-are-we-points-img"
                />
                <p>Autentici sapori italiani</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="who-are-we-points d-flex align-items-start">
                <img
                  src="{{ Done }}"
                  alt="Done"
                  class="who-are-we-points-img"
                />
                <p>Prodotti Made in Italy</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="who-are-we-points d-flex align-items-start">
                <img
                  src="{{ Done }}"
                  alt="Done"
                  class="who-are-we-points-img"
                />
                <p>Prodotto certificato 100 % BIOLOGIGO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="w-100">
          <img src="{{ MainHomeImg }}" alt="MainHomeImg" class="w-100" />
        </div>
      </div>
    </div>
  </div>
  <div class="end-img">
    <img src="{{ EndImg }}" alt="EndImg" class="w-100" />
  </div>
</div>
