<div class="checkout">
  <div class="container">
    <a class="back">
      <i class="fas fa-angle-left"></i>
      <span class="px-1">Back to cart</span>
    </a>
    <h3 class="mb-4 mt-5">Shipping address</h3>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="formSection">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 address-label" for="flexRadioDefault1">
                          whintini bellsing
                        </label>
                      </div>
                    </div>
                    <div class="col-4">
                      (207) 325-4260 17 Main St Limestone
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <a  class="px-1 actions">Edit</a> | <a class="px-1 actions">Add Instructions</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 address-label" for="flexRadioDefault1">
                          whintini bellsing2
                        </label>
                      </div>
                    </div>
                    <div class="col-4">
                      (207) 325-4260 17 Main St Limestone
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <a  class="px-1 actions">Edit</a> | <a class="px-1 actions">Add Instructions</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 address-label" for="flexRadioDefault1">
                          whintini bellsing
                        </label>
                      </div>
                    </div>
                    <div class="col-4">
                      (207) 325-4260 17 Main St Limestone
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <a  class="px-1 actions">Edit</a> | <a class="px-1 actions">Add Instructions</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection form-border">
                <form action="">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 mb-4">
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Add new address
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Ex: danial"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">street address</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">apt number</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">state</label>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">zip</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-6 col-sm-6  col-xs-6 mt-4">
                        <button class="btn btn-default w-100">close</button>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6  col-xs-6  mt-4">
                        <button class="btn btn-primary w-100">use this address</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection form-border">
                <form action="">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-between mb-4">
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Credit or Debit Card
                          </label>
                        </div>
                        <div class="credit">
                          <i class="fas fa-credit-card"></i>
                        </div>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6 mt-2  mb-2">
                        <div class="mt-2  mb-2">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="12322121212122"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-2  col-md-2  col-sm-2 col-xs-6 mt-1 mb-2 visa">
                        <img src="../../../assets/img/visa.png" alt="">
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          <input
                            type="number"
                            class="form-control"
                            id="name"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          
                          <select class="form-select" aria-label="Default select example">
                            <option selected>select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          <input
                            type="number"
                            class="form-control"
                            id="name"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-12 mb-1 mt-1">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            save this card for later use
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mt-1 mb-1">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            billing address same as shipping address
                          </label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mt-2  mb-2">
                          <label for="name" class="form-label">street address</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Ex: Adam"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          <label class="form-label">City</label>
                          <input
                            type="number"
                            class="form-control"
                            id="name"
                            placeholder="Cairo"
                            required
                        />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          <label class="form-label">State</label>
                          <input
                          type="number"
                          class="form-control"
                          id="name"
                          placeholder="Nasr City"
                          required
                        />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 mt-2  mb-2">
                        <div class="">
                          <label for="name" class="form-label">Zip Code</label>
                          <input
                            type="number"
                            class="form-control"
                            id="name"
                            placeholder="123456"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-6 col-sm-6  col-xs-6  mt-4">
                        <button class="btn btn-default w-100">cancel</button>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6  col-xs-6  mt-4">
                        <button class="btn btn-primary w-100">use this card</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection ">
                <div class="continaer-fluid">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 pay-label" for="flexRadioDefault1">
                          Google Pay
                        </label>
                      </div>
                      <div class="pay-icon">
                        <img src="../../../assets/img/google-pay.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection">
                <div class="continaer-fluid">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 pay-label" for="flexRadioDefault1">
                          Apple Pay
                        </label>
                      </div>
                      <div class="pay-icon">
                        <img src="../../../assets/img/apple.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="formSection">
                <div class="continaer-fluid">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label px-1 pay-label" for="flexRadioDefault1">
                          Bitcoin
                        </label>
                      </div>
                      <div class="pay-icon">
                        <img src="../../../assets/img/icons8-bitcoin-48.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="formSection">  
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mt-3">
                <div class="btn btn-primary w-100">
                  place order
                </div>
                <p class="mt-4 mb-2 border-bottom py-3">
                  (207) 325-4260 17 Main St Limestone, Maine(ME)
                </p>
              </div>
              <div class="col-12 mt-2 mb-2">
                <h5>Order Summary</h5>
              </div>
              <div class="col-12 mt-2 mb-2 border-bottom py-3">
                <div class="d-flex justify-content-between py-1">
                  <span class="order-details">hi</span>
                  <span class="order-details">k4</span>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <span class="order-details">item <span>(0):</span></span>
                  <span class="order-details">$325.44</span>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <span class="order-details">Shipping & handling:</span>
                  <span class="order-details">k4</span>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <span class="order-details">Before tax</span>
                  <span class="order-details">k4</span>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-between py-2">
                <span class="total">Order total:</span>
                <span class="total">$325.7777</span>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
